@import "tailwindcss";

@theme {
  --color-background: #1B1B1D;
  --color-DarkerBackground: #0f0f0f;
  --color-textPrimary: #E1E4E8;
  --color-textSecundary: #6A737D;
  --color-textHighlight: #F97583;
}